<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE="edge:>

<title>사이트맵</title>
	<style>
ul.sitemap {
	list-style: none;
	margin:0;
	padding:0;
}		
	</style>

</head>
<body>

<ul class="sitemap">
	<li>
		<a href="#">회원정보</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>
	<li>
		<a href="#">호텔소개</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>
	<li>
		<a href="#">객실소개</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>
	<li>
		<a href="#">부대시설</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>
	<li>
		<a href="#">고객문의</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>
	<li>
		<a href="#">이용후기</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>	
	<li>
		<a href="#">예약</a>
		<ul>
			<li><a href="/semi/member/join.jsp">회원가입</a>
			<li><a href="/semi/member/join.jsp">로그인</a>
		</ul>
	</li>		
	
	<a href="/semi/member/join.jsp">회원정보</a>
		<br><br>		
	<a href="/semi/hotelIntroduce/detaail.jsp">호텔 소개 상세</a>
	<a href="/semi/roomIntroduce/edit.jsp">객실 소개 상세</a>
		<br><br>
	<a href="/semi/review/list.jsp">후기 게시판</a>
	<a href="/semi/review/write.jsp">후기 작성</a>
		<br><br>	
	<a href="/semi/qa/list.jsp">Q/A 게시판</a>
	<a href="/semi/qa/write.jsp">Q/A 작성</a>
		<br><br>
	<a href="/semi/booking/add.jsp">예약 정보 등록</a>
		<br><br>
	<a href="/semi/pay/list.jsp">결제 내역 목록</a>
	<a href="/semi/pay/detail.jsp">결제 상세</a>
</ul>
</body>
</html>