<?xml version="1.0" encoding="UTF-8"?>


<!-- web.xml은 프로젝트가 Tomcat에서 어떤 원칙으로 운영되는지를 정의할 수 있는 설정파일 -->
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 에러페이지 설정-->
	<error-page>
	<error-code>404</error-code>
	<location>/error/404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

	<!-- 세선 유지시간 설정 -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>


	<!-- 사용자가 처음 마주하게 될 홈페이지 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <filter>
    	<filter-name>UTF8Filter</filter-name>
    	<filter-class>semi.filter.UTF8Filter</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>UTF8Filter</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping>
    
     <filter>
    	<filter-name>LoginFilter</filter-name>
    	<filter-class>semi.filter.LoginFilter</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>LoginFilter</filter-name>
		<url-pattern>/qa/write.jsp</url-pattern>
		<url-pattern>/qa/write.kh</url-pattern>
		<url-pattern>/qa/edit.jsp</url-pattern>
		<url-pattern>/qa/edit.kh</url-pattern>
		<url-pattern>/qa/delete.kh</url-pattern>
		<url-pattern>/qa/check.jsp</url-pattern>
		<url-pattern>/qa/checkpw.kh</url-pattern>
		<url-pattern>/review/edit.jsp</url-pattern>
		<url-pattern>/review/write.jsp</url-pattern>
		<url-pattern>/review/write.kh</url-pattern>
		<url-pattern>/review/edit.kh</url-pattern>
		<url-pattern>/review/delete.kh</url-pattern>
    </filter-mapping>
    
    <filter>
    	<filter-name>boardOwnerFilter</filter-name>
    	<filter-class>semi.filter.BoardOwnerFilter</filter-class>
    </filter>

	<filter-mapping>
		<filter-name>boardOwnerFilter</filter-name>
		<url-pattern>/qa/edit.jsp</url-pattern>
		<url-pattern>/qa/edit.kh</url-pattern>
		<url-pattern>/qa/delete.kh</url-pattern>
	</filter-mapping>
	
	<filter>
    	<filter-name>qaBoardFilter</filter-name>
    	<filter-class>semi.filter.QaBoardFilter</filter-class>
    </filter>

	<filter-mapping>
		<filter-name>qaBoardFilter</filter-name>
		<url-pattern>/qa/detail.jsp</url-pattern>
	</filter-mapping>
</web-app>
